<div class="contenedor_header">
  <div class="header_principal">
    <div class="header_izquierda">
      <button
        *ngIf="mostrarBotonMenu"
        class="icono_logo menu-toggle-button"
        (click)="emitToggleSidebar()"
      >
        <img src="/Icon_Header/tdesign--indent-right.svg" alt="Icono Menu" />
      </button>
      <h1 routerLink="/home/inicio">CONEX</h1>
    </div>

    <nav class="header_navegacion">
      <a href="/home/inicio" class="nav_item">Home</a>
      <a href="#" class="nav_item">Tienda</a>
      <a href="#" class="nav_item">Contáctanos</a>
    </nav>

    <div class="header_derecha">
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar..." />
        <button class="search-button">Buscar</button>
      </div>
      <div class="iconos_usuario">
        <div class="dropdown">
          <img
            src="/Icon_Header/flowbite--user-circle-outline.svg"
            alt="Usuario"
            class="icono_header"
          />
          <div class="dropdown-content">
            <a *ngIf="authService.isLoggedIn()" routerLink="/home/Gestion"
              >Acciones de Usuario</a
            >
            <a
              *ngIf="authService.isLoggedIn()"
              (click)="insertarModificar()"
              routerLink="/home/modificarUser"
              >Modificar</a
            >
            <a (click)="logout()" *ngIf="authService.isLoggedIn()"
              >Cerrar Sesión</a
            >
          </div>
        </div>

        <img
          src="/Icon_Header/cart.svg"
          alt="Carrito"
          class="icono_header"
          routerLink="/home/Carrito"
        />
      </div>
      <button
        class="boton_iniciar_sesion"
        *ngIf="!authService.isLoggedIn()"
        routerLink="/login"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-user"
        >
          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
          <circle cx="12" cy="7" r="4" />
        </svg>
        <span>Iniciar Sesión</span>
      </button>
    </div>
  </div>
</div>
